<p id="notice"><%= notice %></p>

<p>
  <strong>Liker:</strong>
  <%= @equal.liker %>
</p>

<p>
  <strong>Liked:</strong>
  <%= @equal.liked %>
</p>

<p>
  <strong>Estado:</strong>
  <%= @equal.estado %>
</p>

<%= link_to 'Edit', edit_equal_path(@equal) %> |
<%= link_to 'Back', equals_path %>
